/*------------------------------------*\
		$IMPORT
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500);


/*------------------------------------*\
		$RESET
\*------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------------------------*\
		$BOX
\*------------------------------------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


/*------------------------------------*\
		$GENERAL
\*------------------------------------*/

body {
	height:100%;
	background-color:rgb(47, 50, 64);
	font-family: 'Fira Sans', sans-serif;
}

main {
	margin-left:10%;
	height:100%;
}


/*------------------------------------*\
		$NAV
\*------------------------------------*/

body header{
	position:fixed;
	top:0;
	left:0;
	width:10%;
	height:100%;
	background-color:#2A2D38;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

body header nav {
	width:70%;
	margin:80% auto;
	height:60%;
}

body header nav .candidat {
	height:3em;
	width:3em;
	border-radius:100%;
	margin:2em auto;
	background-size:120%;
	background-position:center;
	background-repeat:no-repeat;
	border:3px transparent solid;
}

.candidat.selected {
	border:3px white solid;
}

#fillon {
	background-image:url(PNG/fillon.png);
}

#macron {
	background-image:url(PNG/macron.png);
}

#lepen {
	background-image:url(PNG/lepen.png);
}

#melanchon {
	background-image:url(PNG/melanchon.png);
}

#hamon {
	background-image:url(PNG/hamon.png);
}

#melanchon, #macron, #hamon, #fillon, #lepen {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

#melanchon:hover, #macron:hover, #hamon:hover, #fillon:hover, #lepen:hover {
	cursor:pointer;
	border:3px #fff solid;
}


/*------------------------------------*\
		$TOP
\*------------------------------------*/

.top-interface {
	height: 56vh;
}

.top-interface section {
	flex-grow: 2;
}

/*------------------------------------*\
		$MAP
\*------------------------------------*/

#carteContainerWeek {
	float: left;
	width: 30%;
}

#carteContainerToday {
	float: left;
	width: 60%;
}

#carteToday {
	margin:10% 10%;
}

#carteWeek {
	margin:10% 10%;
}

#Background {
	fill: #fff;
}

.region {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.region.melanchon {
	fill:#F24472;
}

.region.macron {
	fill:#52378C;
}

.region.hamon {
	fill:#15BFBF;
}

.region.fillon {
	fill:#F2E635;
}

.region.lepen {
	fill:#F2811D;
}


/*------------------------------------*\
		$LEGEND
\*------------------------------------*/

.legend {
	float: left;
	width: 10%;
	padding: 16px 16px 10px 16px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.legend h2 {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 500;
}

.number {
	overflow: auto;
	margin: 6px 0;
}

.legend .color {
	float: left;
	border-radius: 2px;
	width: 20px;
	height: 20px;
}

#color1000 {
	opacity: 1;
}

#color800 {
	opacity: 0.8;
}

#color600 {
	opacity: 0.6;
}

#color400 {
	opacity: 0.4;
}

#color200 {
	opacity: 0.2;
}

.legend p {
	margin: 2px 0 0 8px;
	float: left;
}

.number:nth-child(2) .color {
	opacity: 1;
}

.number:nth-child(3) .color {
	opacity: 0.8;
}

.number:nth-child(4) .color {
	opacity: 0.6;
}

.number:nth-child(5) .color {
	opacity: 0.4;
}

.number:nth-child(6) .color {
	opacity: 0.2;
}

.color.melanchon {
	background:#F24472;
}

.color.macron {
	background:#52378C;
}

.color.hamon {
	background:#15BFBF;
}

.color.fillon {
	background:#F2E635;
}

.color.lepen {
	background:#F2811D;
}


/*------------------------------------*\
		$BOTTOM
\*------------------------------------*/

#datavis {overflow: auto;
	width:100%;
	margin: 0 0 15vh 0;
	background-color:#333646;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#datavis h2 {
	color: #fff;
	margin: 0 0 12px 0;
}

#datavis p {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.4;
}

.chartContainer {
	float: left;
	width:50%;
}

.chart {
	margin: 20px 20px 10px 0;
}

#myChart {
	height: 200px;
}

.meetingContainer {
	float: left;
	padding: 20px;
	width:50%;
}


/*------------------------------------*\
		$VELO
\*------------------------------------*/

/*footer*/

footer {
	position:fixed;
	height:15vh;
	width:100%;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,.9);
}

/*timeline*/
input[type=range] {
	width:100%;
	-webkit-appearance: none;
	background-color:rgba(255,255,255,.0);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:20%;
  margin:auto;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius:100%;
  background: rgba(255,0,0,.9);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

/*velo*/

footer .ville {
	background-image:url(PNG/ville.png);
	background-size:contain;
	width:100%;
	height:13vh;
	position:relative;
	bottom:-3vh;
	background-color:rgba(0,0,0,.2);
}

footer .ville #velo {
	width:7%;
	height:80%;
	position:absolute;
	bottom:10%;
	left:0;
	background-image:url(PNG/velomelanchon.png);
	background-size:cover;
	background-repeat:no-repeat;
	animation: /*veloavance 10s ease-in-out,*/
	velopedale 1s infinite;

}

footer .ville #velo .tete{
	background-image:url(PNG/melanchonphoto.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top:-4vh;
	margin:0 35%;
	height:50%;
	width:50%;
	z-index:20;
}

/*animations*/
@keyframes veloavance{
		0%{left:0;}
		100%{left:100%;}
	}

	@keyframes velopedale {
		0%{background-position:9px 0px;}
		24%{background-position:9px 0px;}
		25%{background-position:-109px 0px;}
		49%{background-position:-109px 0px;}
		50%{background-position:-225px 0px;}
		74%{background-position:-225px 0px;}
		75%{background-position:-109px 0px;}
		100%{background-position:-109px 0px;}
	}